<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Fail</title>
    <link rel="stylesheet" href="/css/loginfail.css">
</head>
<body>

    <div id="container_main">
        <header id = "logo_box">
            <div id = "head_title">
                Record of the day
            </div>
        </header>

        <div class = "container">
            <div class = "con_header">
                <img class="title_img" src="https://soopool.art/img/infoacnh/Neighbor/rco.png">
                <h2>로그인 실패</h2>
                <img class="title_img" src="https://soopool.art/img/infoacnh/Neighbor/rcm.png">
            </div>
            <div><h4>입력하신 아이디와 비밀번호는 존재하지 않습니다</h4></div>
    
            <div class="btn_box">
                <a href="/board/loginpage">
                    <button id="login_btn">로그인</button>
                </a>
            
                <a href="/board/join" >
                    <button id="join_btn">회원가입</button>
                </a>
            </div>
        </div>

        <div id="info_box">
            <span>© 2023 NOTICE BOARD FROM JEONGACHO</span>
        </div>
    </div>
        
</body>
</html>